.homeComponent{
    width: 100vw;
    height: 100vh;
    border: 4px solid black;

    .textZone{
        position: relative;
        min-width: 50vw;
        color: white;
        left: 100px;
        width: 90vw;
        height: 95vh;
        border: 4px solid yellow;

        h1{
            border: 2px solid white;
            .name{
                margin-left: 5vw;
            }
            img{
                width: clamp(4rem,9vw,8rem);
                transform: translate(2.7vw,-1.9vw);
            }
        }
        h2{
            font-size: 2vw;
        }
    }
}