
.homeComponent {
    position: absolute;
    margin-top: 7rem;
    height: 100vh;
    min-height: 500px;
    width: 100vw;
    color: white;
    border: 2px solid rgb(49, 48, 48);
    animation: fadeIn 1.7s forwards;
    overflow: hidden;


    h1 {
        position: relative;
        padding: 3vw 0 0 3vw;
        font-size: 4vw;
        



        span {
            display: inline-block;
            padding: 2px;
            
            

            &.jelloLetter:hover {
                cursor: pointer;
                color: yellow;
                animation: tada 1s linear;
            }
        }

        .name {
            position: relative;
        }

        img {
            position: relative;
            width: 7vw;
            top: -2vw;
            left: 0.8vw;
            transition: 0.3s ease-in-out;


            &:hover {
                animation: rubberBand 1s linear;
                cursor: pointer;

            }

        }
    }

    h2 {
        padding-left: 10vw;
        font-size: 2vw;
        opacity: 40%;
        transition: 0.2s ease-in-out;
        display: inline;

        span {
            display: inline-block;
            padding: 1.5px;

            &.jelloLetter:hover {
                cursor: pointer;
                color: pink;
                animation: wobble 1s linear;
            }
        }


        &:hover {
            opacity: 100%;
            cursor: pointer;
        }
    }

    .contactMe {
        display: inline;
        border: 2px solid yellow;
        position: absolute;
        box-shadow: 20%;
        font-size: 2vw;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-radius: 8px;
        margin-left: -28vw;
        padding: 4px;
        background-color: rgb(21, 21, 63);
        top: 25vw;
        animation: bounce 1s 0.5s linear;
        span {
            display: inline-block;
            padding: 2px;

            &.jelloLetter:hover {
                cursor: pointer;
                color: rgb(255, 255, 255);
                animation: jello 1s linear;
            }
        }

        &:hover {
            opacity: 100%;
            color: yellow;
            background-color: black;
            transform: scale(1.1);
            transition: 0.2s ease-in-out;

        }
    }

    .lightBulb {
        position: absolute;
        top: 9vh;
        right: 20vw;
        transform: rotateZ(5deg);
        opacity: 30%;
        font-size: clamp(0.9rem,1.1vw,5rem);
        transition: 0.1s ease-in-out;

        &:hover {
            opacity: 100%;
            color: yellow;
            cursor: pointer;

        }
    }

    .images {
        position: absolute;
        right: 6vw;
        top: 30vh;

        img {

            width: 18vw;
            opacity: 30%;
            transition: 0.1s ease-in-out;

        }

        .sImg {
            transform: rotateZ(10deg);

            &:hover {
                opacity: 80%;
                cursor: pointer;
            }
        }

        .kImg {
            transform: rotateZ(5deg);

            &:hover {
                opacity: 80%;
                cursor: pointer;

            }
        }

    }
}

@media screen and (max-width:980px) {

    .homeComponent {
        
        h1 {
            left: 40vw;
            font-size: 6vw;
            transition: 0.3s ease-in-out;


            .name {
                margin-top: 10px;
                left: -28vw;
                transition: 0.3s ease-in-out;

            }
        }

        h2 {
            font-size: 3vw;
            margin-left: 12vw;
            transition: 0.3s ease-in-out;

            display: inline-block;

        }

        .images {
            display: inline;
            top: 37vh;
            left: 30vw;
            transition: 0.3s ease-in-out;


        }
        .contactMe{
            margin-top: 5vh;
            margin-left: 0;
            left: 36vw;
            transition: 0.3s ease-in-out;
            font-size: 3.2vw;
            

        }

        .lightBulb {
            top: 40vh;
            font-size: 1.5vw;
            right: 20vw;

        }
    }
}

@media screen and (max-width:750px) {
    .homeComponent {
        .images {
            top: 30vh;
        }
        .lightBulb{
            top: 32vh;
        }
    }
}